= form_for(@flight, method: :get) do |f|
    - if params[:flight]

        = f.select(:to_airport_id, @unique_airport, :selected => @flight_info[:to_airport_id])
        = f.select(:from_airport_id, @unique_airport, :selected => @flight_info[:from_airport_id])
        = f.select(:start, @order_flights << "Any Date", :selected => @flight_info[:start])
        =f.fields_for @booking do |b|
            = b.select(:seats, [["1 Adult", 1], ["2 Adults", 2], ["3 Adults", 3], ["4 Adults", 4]], :selected => @seats)
    - else 
        = f.select(:to_airport_id, @unique_airport)
        = f.select(:from_airport_id, @unique_airport)
        = f.select(:start, @order_flights << "Any Date")
        =f.fields_for @booking do |b|
            = b.select(:seats, [["1 Adult", 1], ["2 Adults", 2], ["3 Adults", 3], ["4 Adults", 4]])

    = f.submit "Search"