= form_for(@flight, method: :get) do |f|
    .search
        %table
            %thead 
                %th From
                %th To
                %th Date
                %th Seats

            %tbody
            - if params[:flight]
                %td 
                    = f.select(:to_airport_id, @unique_airport, :selected => @flight_info[:to_airport_id])
                %td
                    = f.select(:from_airport_id, @unique_airport, :selected => @flight_info[:from_airport_id])
                %td
                    = f.select(:start, @order_flights << "Any Date", :selected => @flight_info[:start])
                %td
                    =f.fields_for @booking do |b|
                        = b.select(:seats, [1, 2, 3, 4], :selected => @seats)
            - else 
                %td 
                    = f.select(:to_airport_id, @unique_airport)
                %td
                    = f.select(:from_airport_id, @unique_airport)
                %td
                    = f.select(:start, @order_flights << "Any Date")
                %td
                    =f.fields_for @booking do |b|
                        = b.select(:seats, [1, 2, 3, 4])
            %td 
                = f.submit "Search", class: 'btn btn-primary btn-sm'

